#chat {
    position: absolute;
    top: 55%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: black solid 2px;
    height: 32.5rem;
    width: 16rem;
}

#chatbox {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 15.75rem;
    height: 2rem;
    font-size: 16px;
    border-radius: 0;
    border: 0;
    outline: none;
    background-color: rgb(218, 218, 218);
    border-top: black solid 2px;
    text-overflow: clip;
}

#chat-log, #chat-log li {
    transform: scaleY(-1);
    margin: 0;
    padding: 0;
}

#chat-log {
    position: absolute;
    width: 13.5rem;
    height: 29.5rem;
    list-style: none;
    vertical-align: bottom;
}

#chat-log li {
    margin-left: 1rem;
}